* {
  color: rgba(0, 0, 0, 0.863);
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.none {
  display: none;
}

.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body {
  height: auto;
}

header {
  width: 100vw;
  height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  position: fixed;
  -webkit-box-shadow: 5px 5px 5px 5x rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 5x rgba(0, 0, 0, 0.2);
}

header .header_left {
  width: 30%;
}

header .header_left .header_logo {
  width: 95px;
  margin-left: 20px;
}

header nav {
  width: 40%;
}

header nav .header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .header_list li {
  margin: 30px;
  cursor: pointer;
}

main {
  width: 100%;
  padding-top: 13vh;
  height: 96.7vh;
  background-color: #dad4ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content {
  width: 100%;
  margin-top: 20vh;
}

main .content .bi {
  margin: 20px;
  width: 200px;
  background-color: #F5A1A1;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

main .content .pr {
  margin: 20px;
  width: 200px;
  background-color: #6DE5A4;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

main .content .de {
  margin: 20px;
  width: 200px;
  background-color: #FBB473;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px gray;
          box-shadow: 0 0 4px gray;
}

main .input {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 10px;
  width: 400px;
  color: black;
  background-color: rgba(241, 241, 241, 0.664);
  height: 35px;
}

main .button {
  width: 80px;
  height: 28px;
  background-color: #55cae7;
  border-bottom: 2px solid #56a5bd;
  border-radius: 3px;
}

._main {
  width: 200%;
  height: auto;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-list .li {
  margin: 30px;
  cursor: pointer;
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 40px;
}

.page_icon .icon_title {
  padding-top: 19px;
}

.yaer_list {
  margin-left: 20px;
}

._input {
  color: gray;
  margin: 20px 10px;
  width: 250px;
  background-color: rgba(241, 241, 241, 0.664);
  height: 35px;
}

.center {
  padding-top: 20px;
  text-align: center;
  opacity: 0.8;
  color: black;
  font-size: 13px;
}

.seetbtn {
  color: white;
  margin: 3px;
  background-color: #6b6a6a;
}

footer {
  text-align: center;
  background-color: white;
  position: fixed;
  -webkit-box-shadow: 5px 5px 5px 5x rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px 5x rgba(0, 0, 0, 0.2);
}

footer .fotter_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .fotter_flex .footer_title {
  color: gray;
  text-align: center;
  margin: 0 auto;
  font-size: 10px;
}

.download_btn {
  font-weight: bold;
  color: black;
  height: 45px;
  width: 100px;
  display: inline-block;
  background-color: yellow;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
}

.download_btn:hover {
  color: black;
  text-decoration: none;
  opacity: 0.8;
}

.filter {
  border-radius: 3px;
  border: 1px solid gray;
}
/*# sourceMappingURL=all.css.map */